body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero {
    padding: 50px;
    padding-top: 15px;
    background-color: #1F2937;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    margin-bottom: 40px;

    justify-self: flex-start;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;

    display: flex;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.text {
    margin-right: 100px;
}

#main-text {
    font-size: 48px;
    font-weight: bolder;
}

#secondary-text {
    font-size: 18px;
}

.image {
    width: 500px;
    height: 240px;
    background-color: gray;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content > .text > button {
    border-style: none;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
}