body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero {
    padding: 50px;
    padding-top: 15px;
    background-color: #1F2937;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    margin-bottom: 40px;

    justify-self: flex-start;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-size: 20px;

    display: flex;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.text {
    margin-right: 100px;
}

#main-text {
    font-size: 48px;
    font-weight: bolder;
}

#secondary-text {
    font-size: 20px;
}

.hero-image {
    width: 600px;
    height: 240px;
    background-color: gray;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content > .text > button {
    border-style: none;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
}

.main-content {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information {
    padding: 100px;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 100px;
}

.main-content-image {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subtext {
    font-size: 20px;
    text-align: center;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    padding: 130px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-size: 26px;
    font-weight: bold;
    color: #1f2937;

    align-self: flex-end;
}

.blue-box {
    background-color: #3882f6;
    color: white;
    margin: 100px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#larger-text {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

#smaller-text {
    margin-top: 0;
    font-size: 20px;
}

.main-content > .blue-box > button {
    background-color: #3882f6;
    border: 3px solid white;
    height: 50px;
    width: 120px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.footer {
    padding: 50px;
    background-color: #1F2937;
    color: white;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}